<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.spring_boot_mybatis_book.project.dao.IBookDAO">
		<resultMap id="bookResult" type="com.spring_boot_mybatis_book.project.model.BookVO">
	  		<result property="bookNo" column="bookNo"/>
	  		<result property="bookName" column="bookName"/>
	  		<result property="bookPrice" column="bookPrice"/>
	  		<result property="bookPub" column="bookPub"/>
	  		<result property="bookDate" column="bookDate"/>
  		</resultMap>
  		
  		
  	<select id="listAllBook" resultMap="bookResult">
  		SELECT * FROM book ORDER BY bookNo
  	</select>
  	
  	<!-- 도서 등록 -->
  	<insert id="insertBook" parameterType="com.spring_boot_mybatis_book.project.model.BookVO">
  		INSERT INTO book (bookNo, bookName, bookPrice, bookPub, bookDate)
  		VALUES(#{bookNo}, #{bookName}, #{bookPrice}, #{bookPub}, #{bookDate})
  	</insert>
  	
  	<!-- 도서 상세 정보 조회 : 1개 조회 -->
  	<select id="detailViewBook" parameterType="string" resultType="com.spring_boot_mybatis_book.project.model.BookVO">
  		SELECT * FROM book WHERE bookNo=#{bookNo}
  	</select>
  	
  	<!-- 도서 정보 수정 -->
  	<update id="updateBook" parameterType="com.spring_boot_mybatis_book.project.model.BookVO">
  		UPDATE book
  		SET bookName=#{bookName}, 
  			bookPrice=#{bookPrice}, 
  			bookPub=#{bookPub},
  			bookDate=#{bookDate}
		WHERE bookNo=#{bookNo}
  	</update>
  	
  	<!-- 도서 정보 삭제 -->
  	<delete id="deleteBook" parameterType="String">
  		DELETE FROM book WHERE bookNo=#{bookNo}
  	</delete>	
  	
  	<!-- 도서 중복 확인 -->	
	<select id="bookNoCheck" parameterType="string" resultType="string">
		SELECT bookNo FROM book WHERE bookNo=#{bookNo}
	</select>
	
	<!-- 도서 검색 -->
	<select id="bookSearch" parameterType="hashmap" resultMap="bookResult">
		SELECT * FROM book WHERE
		<choose>
			<when test="type !=null and type.equals('bookName')">
				bookName LIKE CONCAT('%', #{keyword}, '%')
			</when>
			
			<when test="type !=null and type.equals('bookPub')">
				bookPub LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
	</select>
		
</mapper>