<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>비품 관리 인덱스 페이지</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

  <style type="text/css">
    .text-primary { font-weight: bold; }
    .itemList>td>a { color:#fff;}
    .container {margin:0 auto; text-align:center; width:1080px;}
    .headerBox { margin-bottom: 30px;}
    .navBox { margin-top: 20px; padding:5px 10px; }
    .navBox>a { border:none; text-decoration: none;}
    .navBox>a:hover { font-weight: bold; font-size:14px; color:#fff; background: #245580;}
    .titleBox {margin-top:60px;}
  </style>
</head>
<body>
<div class="container" align="center">
 <div class="headerBox">
   <div class="titleBox">
     <h2 class="text-primary">비품 관리 인덱스 페이지</h2>
   </div>
   <div class="navBox">
       <p th:text="${#authentication.name}"></p>
           <a href="/login" class="btn btn-success" sec:authorize="isAnonymous()">로그인</a>
           <a href="/signUp" class="btn btn-primary" sec:authorize="isAnonymous()" >회원 가입</a>
       <a href="/logout" class="btn btn-success" sec:authorize="isAuthenticated()">로그 아웃</a>
       <button class="btn btn-success"
               th:onclick="|location.href='@{/boardList}'|"
               type="button">조회</button>
       <button class="btn btn-primary float-end"
               onclick="location.href='insertItem.html'"
               th:onclick="|location.href='@{/insertItem}'|"
               type="button" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">등록</button>
   </div>
 </div>
</div>
</body>
</html>