<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
  <title>비품 상세 조회 결과 페이지</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

  <style type="text/css">
    .err { color: red; font-weight: bold; }
    .text-primary { font-weight: bold; }
    .table-striped {margin-top:30px; color:#000; background:#3e8f3e;}
    .success>th, .itemList>td {text-align: center;}
    .itemList>td>a { color:#fff;}
    #noList {text-align: center;}
  </style>
</head>
<body>
<div class="container" align="center">
  <h2 class="text-primary">비품 검색 결과</h2>
  <table class="table table-striped">
  <tr class="success">
    <th>비품 번호</th>
    <th>비품 코드</th>
    <th>비품명</th>
    <th>상세 설명</th>
    <th>수량</th>
    <th>가격</th>
    <th>등록일</th>
  </tr>

  <tr th:each="board:${list}" th:if="${!#lists.isEmpty(list)}" class="itemList btn-success">
    <td th:text="${board.itemNo}"></td>
    <td th:text="${board.itemCode}"></td>
    <td>
      <a th:href="@{/detailItem/{itemNo}(itemNo=${board.itemNo})}"
         th:text="${board.itemName}"
        th:title="${board.itemDetail}"
      ></a>
    </td>
    <td th:text="${board.itemDetail}"></td>
    <td th:text="${board.itemQuantity}"></td>
    <td th:text="${board.itemPrice}"></td>
    <td th:text="${board.regDateTime}"></td>
  </tr>

    <tr th:unless="${!#lists.isEmpty(list)}">
      <td colspan="7" id="noList">찾으시는 비품이 없습니다.</td>
    </tr>

</table>

  <a href="/" class="btn btn-warning">닫기</a>
</div>
</body>
</html>