<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"><head>

  <meta charset="UTF-8">
  <title>인덱스 페이지</title>
</head>
<body>
<div class="container">
  <div>
    <h3>인덱스 페이지</h3>
    <a href="books/bookAllList">전체 게시판 조회</a><br><br>

    <a href="books/bookNewForm">비품 등록</a><br><br>

    <a href="books/bookSearchForm">비품 검색</a><br><br>

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <!--            <tr th:each = "member : ${members}">-->
      <!--                <td th:text="${member.id}"></td>-->
      <!--                <td th:text="${member.name}"></td>-->
      <!--            </tr>-->
      </tbody>
    </table>
  </div>
</div>
</body>
</html>